/* Esquemas de color del sitio */
$segu-white: #FFFFFF;
$segu-black: #000000;
$segu-blue: #7ACACE;
$segu-dark: #063063;
$segu-green: #B4CF21;
$segu-blue-light: #4065B3;



//Font Family
$kreon: 'Kreon', serif; //Para los headings
$montserrat: 'Montserrat', sans-serif; //Para los parrafos y texto general


//Font weight
$regular: 400;
$bold: 700;

//Font sizes
$xxx-large: 2.488rem;
$xx-large: 2.074rem;
$x-large: 1.728rem;
$large: 1.44rem;
$medium: 1.2rem;
$normal: 1rem;
$small: 0.833rem;
